@use '../../../../styles/members' as *;

.root {
    $root: &;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 40px;
    transition: opacity 0.3s ease, transform 0.3s ease;

    &CurrentStep {
        color: var(--muted);
    }
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.loadingGradient {
    background: linear-gradient(270deg, var(--blue-100), var(--blue-070), var(--progress-filler));
    background-size: 600% 600%;
    animation: gradientShift 3s ease infinite;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
