# Роут для обработки запроса клиента о загрузке файлов локально
NEXT_PUBLIC_API_URL=/api/upload
# Роут для оработки запроса клиента о загрузке файлов на проде
NEXT_PUBLIC_API_URL=https://sirius-draw-test-94500a1b4a2f.herokuapp.com/upload

# Роут для обработки запроса клиента о загрузке анкеты локально
NEXT_PUBLIC_API_SURVEY_URL=/api/submit-survey
# Роут для оработки запроса клиента о загрузке анкеты на проде
NEXT_PUBLIC_API_SURVEY_URL=https://sirius-draw-test-94500a1b4a2f.herokuapp.com/submit-survey

# Роут для запроса статуса отчета на проде
NEXT_PUBLIC_API_REPORT_URL=https://sirius-draw-test-94500a1b4a2f.herokuapp.com/report

# Включает искусственную задержку при отправке данных на сервер (только для локальных тестов)
NEXT_PUBLIC_USE_MOCK_API=true

# Возвращает моковый task_id в случае недоступности сервера
NEXT_PUBLIC_USE_MOCK_ON_FAILURE=true
