# Роут для обработки запроса клиента локально
NEXT_PUBLIC_API_URL=/api/upload

# Включает искусственную задержку при отправке файлов (только для локальных тестов)
NEXT_PUBLIC_USE_MOCK_API=true

# Возвращает моковый task_id в случае недоступности сервера
NEXT_PUBLIC_USE_MOCK_ON_FAILURE=true
