@use 'main' as *;

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: var(--font-circle-rounded);
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: var(--surface-1);
    color: var(--default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nextjs-portal {
    display: none;
}
