@use '../../../../styles/members' as *;

.root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    &Content {
        background-color: var(--surface-1);
        padding: 2rem;
        border-radius: 12px;
        max-width: 400px;
        text-align: center;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    }

    &CloseButton {
        margin-top: 1.5rem;
        padding: 0.5rem 1rem;
        background-color: var(--blue-100);
        color: var(--surface-1);
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }
}
