:root {
    --white: #FFFFFF;
    --black: #293244;
    --gray-1: #F6F6F8;
    --gray-2: #D0D4DC;
    --gray-3: #A0A9B8;
    --gray-4-010: #{rgba(#445371, 0.1)};
    --gray-4-050: #{rgba(#445371, 0.5)};
    --blue-1: #007EE5;
    --blue-2: #45A5F6;
    --blue-3: #B5DBFB;
    --blue-4: #C7E4FC;
    --blue-5:#DAEDFD;
    --blue-6: #7ABEF8;
    --red-1:#E12828;
    --red-2:#FADEE0;
    --violet: #6447CF;
}
